<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe | William Stanton</title>
    <meta name="description" content="Simple Tic Tac Toe game developed in Java">
    <link rel="preload" th:href="@{main.css}" as="style">
    <link rel="preload" th:href="@{game.css}" as="style">
    <link rel="stylesheet" th:href="@{main.css}" media="print" onload="this.media='all'">
    <link rel="stylesheet" th:href="@{game.css}" media="print" onload="this.media='all'">

</head>
<body>
<!-- Game Info -->
<div class="modalParent">
    <div class="modalHead">
        <h1 id="title">Tic Tac Toe</h1>
    </div>
    <div class="modalInfo">

        <!-- Game Board -->
        <div class="boardParent" id="board">
            <!-- Row 1 -->
            <div class="boardRow row1">
                <!-- Column 1-3 -->
                <button th:each="b : ${game.getBoard.getBoardSpots[0]}"  th:classappend="'col' + ${b.id}" th:type="${b.player.symbol == null && game.getStatus.name() == 'INCOMPLETE' ? 'button' : 'button'}" class="boardSpot" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
            </div>
            <!-- Row 2 -->
            <div class="boardRow row2">
                <!-- Column 4-6 -->
                <button th:each="b : ${game.getBoard.getBoardSpots[1]}"  th:classappend="'col' + ${b.id}" th:type="${b.player.symbol == null && game.getStatus.name() == 'INCOMPLETE' ? 'button' : 'button'}" class="boardSpot" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
            </div>
            <!-- Row 3 -->
            <div class="boardRow row3">
                <!-- Column 7-9 -->
                <button th:each="b : ${game.getBoard.getBoardSpots[2]}"  th:classappend="'col' + ${b.id}" th:type="${b.player.symbol == null && game.getStatus.name() == 'INCOMPLETE' ? 'button' : 'button'}" class="boardSpot" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
            </div>
        </div>
    </div>
    <div class="modalOptions">
        <!-- New Game Button  -->
        <button class="btn" id="restart" type="submit">🔄 Restart</button>
        <button class="btn" id="settings" th:text="${game.class.name != 'tictactoelib.game.ComputerGame' ? '⚙️ Play AI' : '⚙️ Play local'}"></button>
    </div>
</div>

<script>
    const buttons = document.getElementById("board").getElementsByTagName('button');
    const title = document.getElementById('title');
    const restartBtn = document.getElementById('restart');
    const settingsBtn = document.getElementById('settings');
    let gameStatus = 'INCOMPLETE';
    let lastMove = '';

    // init title after 1s
    setTimeout(() => {
        updateGameStatus();
    }, 1000);

    // settings btn
    settingsBtn.addEventListener('click', () => {
        restart(true)
    });

    // restart btn
    restartBtn.addEventListener('click', () => {
        restart(false)
    });

    // restart game
    function restart(toggleMode) {
        fetch(toggleMode ? 'http://localhost:8080/settings' : 'http://localhost:8080/restart', {
            method: "PATCH"
        })
            .then(() => {
                // clear board spots
                for (let button of buttons) {
                    button.innerText = '';
                    button.disabled = false;
                    button.classList.remove('winningSpot')
                }

                // get & set next player
                fetch("http://localhost:8080/next")
                    .then((response) => {
                        if (response.ok)
                            return response.json();
                    })
                    .then((data) => {
                        // set title
                        title.innerText = data.name + " is up!";

                        // reset gameStatus && next move
                        gameStatus = 'INCOMPLETE';
                        lastMove = '';
                    })
            })

        // update game mode name
        if (toggleMode)
            settingsBtn.innerText = settingsBtn.innerText === '⚙️ Play AI' ? '⚙️ Play local' : '⚙️ Play AI';
    }

    function updateGameStatus() {
        fetch("http://localhost:8080/next")
            .then((response) => {
                if (response.ok)
                    return response.json();
                // else, game over
                else {
                    title.innerText = "Game over!";
                    fetch("http://localhost:8080/winner")
                        .then((response) => {
                            // winner
                            if (response.ok)
                                return response.json();
                            // tie
                            else {
                                title.innerText = "Game tied!";
                            }
                        })
                        .then(data => {
                            // update all winning spots
                            for (let i = 0; i < data.length; i++) {
                                document.getElementById(data[i].id).classList.add('winningSpot');
                            }
                            // update title
                            title.innerText = data[0].player.name + " won!";
                        })
                }
            })
            .then(data => {
                title.innerText = data.name + " is up!";
            });
    }

    // update spots
    for (let button of buttons) {
        button.addEventListener('click', e => {
            if (e.target.innerText === '' && gameStatus === 'INCOMPLETE') {
                let id = e.target.id;
                fetch("http://localhost:8080/next?id=" + id, {
                    method: "POST"
                }).then((response) => {
                    if (response.ok)
                        return response.json();
                    else
                        throw new Error("Unknown Error");
                }).then(data => {
                    // disable specific spot
                    document.getElementById(e.target.id).disabled = true;

                    // update entire board and next player
                    let boardSpots = data.board.boardSpots;
                    for (let i = 0; i < boardSpots.length; i++) {
                        for (let j = 0; j < boardSpots[i].length; j++) {
                            let boardSpot = boardSpots[i][j];
                            document.getElementById(boardSpot.id).innerText = boardSpot.player.symbol;
                        }
                    }

                    // update status
                    switch(data.gameStatus) {
                        case 'INCOMPLETE':
                            title.innerText = data.nextPlayer.name + " is up!"; // update next player
                            lastMove = data.nextPlayer.name;
                            break;
                        case 'WON':
                            // display won
                            title.innerText = lastMove + ' won!';
                            gameStatus = 'WON';

                            // get winning spots
                            fetch("http://localhost:8080/winner")
                                .then((response) => {
                                    if (response.ok)
                                        return response.json();
                                    else
                                        throw new Error("Unknown Error");
                                })
                                .then(data => {
                                    // update all winning spots
                                    for (let i = 0; i < data.length; i++) {
                                        document.getElementById(data[i].id).classList.add('winningSpot');
                                    }
                                    // update title
                                    title.innerText = data[0].player.name + " won!";
                                });
                            disableAllSpots();
                            break;
                        case 'TIED':
                            // display tie
                            title.innerText = 'Game tied!'
                            gameStatus = 'TIED';
                            disableAllSpots();
                            break;
                    }
                });
            } else {
                // modify title for 5s to display error
                let text = title.innerText;
                title.innerText = (gameStatus === 'INCOMPLETE') ? 'Incorrect move..' : 'Game over..';
                setTimeout(() => {
                    title.innerText = text;
                }, 5000);
            }
        });
    }

    // disables all spots
    function disableAllSpots() {
        for (let button of buttons) {
            button.disabled = true;
        }
    }
</script>
</body>
</html>