<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe | William Stanton</title>
    <meta name="description" content="Simple Tic Tac Toe game utilizing Hydration">
    <link rel="preload" th:href="@{css/main.css}" as="style">
    <link rel="preload" th:href="@{css/ame.css}" as="style">
    <link rel="stylesheet" th:href="@{css/main.css}" media="print" onload="this.media='all'">
    <link rel="stylesheet" th:href="@{css/game.css}" media="print" onload="this.media='all'">
</head>
<body>
<!-- Game Info -->
<div class="modalParent">
    <div class="modalHead">
        <h1 id="title">Tic Tac Toe</h1>
    </div>
    <div class="modalInfo">

        <!-- Game Board -->
        <div class="boardParent" id="board">
            <!-- Row 1 -->
            <div class="boardRow row1">
                <!-- Column 1-3 -->
                <button th:each="b : ${game.getBoard.getBoardSpots[0]}"  th:classappend="'col' + ${b.id}" th:type="${b.player.symbol == null && game.getStatus.name() == 'INCOMPLETE' ? 'button' : 'button'}" class="boardSpot" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
            </div>
            <!-- Row 2 -->
            <div class="boardRow row2">
                <!-- Column 4-6 -->
                <button th:each="b : ${game.getBoard.getBoardSpots[1]}"  th:classappend="'col' + ${b.id}" th:type="${b.player.symbol == null && game.getStatus.name() == 'INCOMPLETE' ? 'button' : 'button'}" class="boardSpot" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
            </div>
            <!-- Row 3 -->
            <div class="boardRow row3">
                <!-- Column 7-9 -->
                <button th:each="b : ${game.getBoard.getBoardSpots[2]}"  th:classappend="'col' + ${b.id}" th:type="${b.player.symbol == null && game.getStatus.name() == 'INCOMPLETE' ? 'button' : 'button'}" class="boardSpot" th:id="${b.id}" th:text="${b.player.name != null ? b.player.symbol : ''}"></button>
            </div>
        </div>
    </div>
    <div class="modalOptions">
        <!-- New Game Button  -->
        <button class="btn" id="restart" type="submit">🔄 Restart</button>
        <button class="btn" id="settings" th:text="${game.class.name != 'tictactoelib.game.ComputerGame' ? '⚙️ Play AI' : '⚙️ Play local'}"></button>
    </div>
</div>

<script src="js/game.js" type="text/javascript"></script>
</body>
</html>